body {
  background-color: #4d0b83;
}

header {
  width: 100%;
  /* Размеры шапки -->*/
  height: 100px;
  background: url("header2.jpg");
  background-size: cover;
}

header #logo {
  width: 90px;
  height: 93px;
  /* Размеры лого -->*/
  position: relative;
  right: 10px;
  /*float: left;*/
}

header .menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
}

header #website-name {
  position: absolute;
  top: 40px;
  right: 90px;
  color: white;
  font-family: Georgia, "Times New Roman";
  font-size: 21px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: cursive;
  margin-left: 5px;
}

img {
  width: 100%;
}

nav {
  display: flex;
  width: 90%;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}

nav ul {
  padding: 10px;
}

nav li {
  margin: 0 20px;
}

/*nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}*/

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  color: white;
}

a {
  color: white;
}

table {
  width: 95%;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  margin: 0 auto;
}

tr,
td,
th {
  border: 2px solid rgb(30, 5, 44);
  border-radius: 5px;
  font-size: 12px;
}

.even {
  background-color: rgb(30, 5, 44);
}

.odd {
  background-color: rgb(23, 0, 226);
}

#table-title {
  background-color: rgb(30, 5, 44);
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  text-align: center;
  justify-content: center;
  background-color: lightgray;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
}

form label {
  display: block;
}

form input {
  width: 50%;
  margin: 5px;
}

form #submit-button {
  width: 30%;
}

form .checkboxes {
  width: auto;
}

form select {
  width: 40%;
  margin: 5px;
}

#end {
  text-align: center;
}

footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #423189;
  line-height: 4;
  text-indent: 20px;
}

footer #copyright {
  color: white;
  font-family: cursive;
  font-size: 17px;
}

@media screen and (min-width: 800px) {
  header {
    height: 200px;
  }

  header #logo {
    width: 160px;
    height: 166px;
    right: 30px;
  }

  header .menu {
    top: 0;
    right: 0;
    margin-right: 20px;
  }

  header #website-name {
    top: 50px;
    left: 300px;
    font-size: 55px;
  }

  .menu a {
    font-size: 23px;
    margin-left: 20px;
  }

  nav {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
  }

  nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .navigation-links {
    text-align: center;
    font-family: cursive;
  }

  .content {
    max-width: 960px;
    margin: 0 auto;
  }

  tr,
  td,
  th {
    width: 200px;
    height: 40px;
    border: 2px solid darkslategray;
    border-radius: 5px;
    font-size: 22px;
  }

  form {
    width: 600px;
    font-size: 17px;
    padding: 20px;
  }

  footer {
    height: 100px;
    line-height: 2;
  }

  footer #copyright {
    font-size: 26px;
  }
}
