body {
  background-color: #4d0b83;
}

header {
  width: 100%;
  /* Размеры шапки -->*/
  height: 100px;
  background: url("header2.jpg");
  background-size: cover;
}

header #logo {
  width: 270px;
  height: 285px;
  /* Размеры лого -->*/
  position: relative;
  right: 20px;
  /*float: left;*/
}

header .menu {
  position: absolute;
  top: 20px;
  right: 0;
  margin-top: 20px;
}

header #website-name {
  position: absolute;
  top: 10px;
  left: 100px;
  color: #ffffff;
  font-family: Georgia, "Times New Roman";
  font-size: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 8px;
  font-family: cursive;
}

nav {
  display: flex;
  width: 100%;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
}

nav ul {
  padding: 10px;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  color: white;
}

a {
  color: white;
}

table {
  display: flex;
  border-radius: 10px;
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

tr,
td,
th {
  border: 2px solid rgb(30, 5, 44);
  border-radius: 5px;
  font-size: 20px;
}

.even {
  background-color: rgb(30, 5, 44);
}

.odd {
  background-color: rgb(23, 0, 226);
}

#table-title {
  background-color: rgb(30, 5, 44);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: lightgray;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}

form label {
  display: block;
}

form input {
  width: 50%;
  padding: 10px;
  margin: 5px;
}

.navigation-links {
  text-align: center;
  font-family: cursive;
}

form #submit-button {
  width: 100px;
}

form .checkboxes {
  width: auto;
  margin: 10px;
}

form select {
  height: 80px;
  width: 150px;
  margin: 5px;
}

footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #423189;
  line-height: 2;
  text-indent: 20px;
}

footer #copyright {
  color: white;
  font-family: cursive;
}

@media screen and (min-width: 800px) {
  header {
    height: 200px;
  }

  header #logo {
    width: 270px;
    height: 285px;
    right: 30px;
  }

  header .menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
  }

  header menu #list-menu {
    margin-top: 0;
  }

  header #website-name {
    top: 50px;
    left: 300px;
    font-size: 60px;
  }

  .menu a {
    font-size: 25px;
    margin-left: 20px;
  }

  nav {
    display: flex;
    width: 600px;
    text-align: center;
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
  }

  nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
  }

  nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .navigation-links {
    text-align: center;
    font-family: cursive;
  }

  .content {
    max-width: 960px;
  }

  table {
    border-radius: 10px;
    margin: 0 auto;
    height: 300px;
    width: 700px;
  }

  tr,
  td,
  th {
    border: 2px solid darkslategray;
    border-radius: 5px;
    font-size: 20px;
  }

  form {
    width: 600px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
  }

  footer {
    height: 100px;
    line-height: 2;
    text-indent: 20px;
  }
}
